@import "tailwindcss";

body {
    @apply bg-slate-100
}

.customShadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* user table */
.userTable {
    @apply bg-white
}

.userTable th{
    @apply text-base font-medium
}

.userTable td{
    @apply border border-gray-300 text-base text-center p-1
}

  /* Custom scrollbar for the specific div */
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #ef4444; /* Tailwind red-500 */
    border-radius: 10px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #dc2626; /* Darker red on hover */
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: #f3f4f6; /* Light gray background */
    border-radius: 10px;
  }
  
  /* Firefox support */
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #ef4444 #f3f4f6;
  }
  
  /* Hide Scroll Bar */
  .scrollBar-none::-webkit-scrollbar {
    display: none;
  }